<div class="sub-page">
    <mat-list>
        <mat-list-item>Rektörlük</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Mali İşler</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Öğrenci İşleri</mat-list-item>
        <mat-divider></mat-divider>        
        <mat-list-item>İngilizce Hazırlık Okulu (Merkez)</mat-list-item>
        <mat-divider></mat-divider>        
        <mat-list-item>Bilgi Merkezi</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Bilgi İşlem Merkezi</mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>