<div class="ytp-map">

  <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" [streetViewControl]="false">

    <agm-marker *ngFor="let marker of markers" [latitude]="marker[1]" [longitude]="marker[2]" [iconUrl]="marker[3]">
      <!-- <agm-info-window #infoWindow>{{marker[0]}}</agm-info-window> -->
      <agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true" [backgroundColor]="'rgb(23,80,153)'">
        <ng-template>
          {{marker[0]}}
          <br>
          <a *ngIf="marker[4]" [routerLink]="marker[4]">Daha Fazla Bilgi</a>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>

    <agm-location-marker></agm-location-marker>

    <agm-polyline [strokeColor]="'#B8C77C'">
        <ng-container *ngFor="let i of paths">
            <agm-polyline-point [latitude]="i.lat" [longitude]="i.lng">
              </agm-polyline-point>
        </ng-container>
    </agm-polyline>

  </agm-map>

</div>