<div class="sub-page">
    <mat-list>
      <mat-list-item>Tanıtım Günleri</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>İstek Servis</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Kültür ve Spor Müdürlüğü</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Banka</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Burçak Gıda</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Fitness Center</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Kitap Evi</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Kuaför</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Kapalı ve Açık Yüzme Havuzu</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>