<div class="sub-page">
    <mat-list>
        <mat-list-item>Mühendislik Fakültesi</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Sağlık Bilimleri Fakültesi</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Tıp Fakültesi</mat-list-item>
        <mat-divider></mat-divider>        
        <mat-list-item>Diş Hekimliği Fakültesi</mat-list-item>
        <mat-divider></mat-divider>        
        <mat-list-item>Sağlık Bilimleri Enstitüsü</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Fen Fakültesi (Fizik ve Matematik Böl.)</mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>