<!-- <ytp-nav></ytp-nav> -->

<mat-sidenav-container class="ytp-sidenav-container">

    <mat-sidenav #sidenav class="ytp-sidenav">
        İndeks
    </mat-sidenav>

    <div class="ytp-sidenav-content">

        <mat-toolbar class="ytp-toolbar">

            <button *ngIf="router.url === '/'; else leftBlock" mat-icon-button (click)="refresh()">
                <mat-icon (click)="refresh()">pin_drop</mat-icon>
            </button>
            <button *ngIf="router.url === '/'" mat-button (click)="refresh()">
                YEDİTEPE ÜNİVERSİTESİ
            </button>
            <ng-template #leftBlock>
                <button mat-icon-button routerLink="/">
                    <mat-icon>pin_drop</mat-icon>
                </button>
                <button mat-button>{{pageTitle}}</button>
            </ng-template>

            <span class="fill-remaining-space"></span>

            <button *ngIf="router.url === '/'; else rightBlock" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>info</mat-icon>
            </button>
            <ng-template #rightBlock>
                <button mat-icon-button routerLink="/">
                    <mat-icon>undo</mat-icon>
                </button>
            </ng-template>

        </mat-toolbar>

    </div>

    <router-outlet></router-outlet>

</mat-sidenav-container>