<!-- <ytp-nav></ytp-nav> -->

<mat-sidenav-container class="ytp-sidenav-container">

    <mat-sidenav #sidenav class="ytp-sidenav">
        <mat-toolbar class="ytp-toolbar">
            İndeks
        </mat-toolbar>
        <form id="filterForm" class="index-form">
            <mat-form-field class="form-full-width">
                <input nofocus matInput placeholder="Yer ara" [(ngModel)]="indexFilter" value = "" name="indexInput">
                <button mat-button *ngIf="indexFilter" matSuffix mat-icon-button aria-label="Clear" (click)="indexFilter=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="start"><strong>Bina numaraları parantez içindedir.</strong> </mat-hint>
            </mat-form-field>
        </form>
        <mat-list>
            <!-- <mat-list-item *ngFor="let location of locations">{{location.name}} {{location.number}}</mat-list-item>-->
            <ng-template ngFor let-location [ngForOf]="locations | filter:indexFilter">
                <mat-list-item>{{location.name}} ({{location.number}})</mat-list-item>
                <mat-divider></mat-divider>
            </ng-template>
        </mat-list>
    </mat-sidenav>

    <div class="ytp-sidenav-content">

        <mat-toolbar class="ytp-toolbar">

            <button *ngIf="router.url === '/'; else leftBlock" mat-icon-button (click)="refresh()">
                <mat-icon (click)="refresh()">pin_drop</mat-icon>
            </button>
            <button mat-button *ngIf="router.url === '/'" (click)="refresh()">
                YEDİTEPE ÜNİVERSİTESİ
            </button>
            <ng-template #leftBlock>
                <button mat-icon-button routerLink="/">
                    <mat-icon>pin_drop</mat-icon>
                </button>
                <button mat-button routerLink="/">{{pageTitle}}</button>
            </ng-template>

            <span class="fill-remaining-space"></span>

            <button *ngIf="router.url === '/'; else rightBlock" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>info</mat-icon>
            </button>
            <ng-template #rightBlock>
                <button mat-icon-button routerLink="/">
                    <mat-icon>undo</mat-icon>
                </button>
            </ng-template>

        </mat-toolbar>

    </div>

    <router-outlet></router-outlet>

    <footer>
        <button mat-button *ngIf="router.url != '/'" routerLink="/">HARİTAYA DÖN</button>
    </footer>

</mat-sidenav-container>