<!-- <ytp-nav></ytp-nav> -->



<mat-sidenav-container class="ytp-sidenav-container">

    <mat-sidenav #sidenav class="ytp-sidenav">
        İndeks
    </mat-sidenav>

    <div class="ytp-sidenav-content">
        <!-- <button type="button" mat-button (click)="sidenav.open()">Open</button> -->
        <mat-toolbar class="ytp-toolbar">
            <mat-icon>pin_drop</mat-icon>
            <span>YEDİTEPE ÜNİVERSİTESİ</span>
            <span class="fill-remaining-space"></span>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            
        </mat-toolbar>
    </div>

    <router-outlet></router-outlet>

</mat-sidenav-container>