<div class="sub-page">
  <mat-list>
    <mat-list-item>Güzel Sanatlar Fakültesi</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Eğitim Fakültesi</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>İletişim Fakültesi</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Mimarlık Fakültesi</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Fen - Edebiyat Fakültesi</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Eğitim Bilimleri Enstitüsü</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Yabancı Diller Yüksek Okulu</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>