<div class="sub-page">
  <div class="sub-page-title">
    REKTÖRLÜK
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2">
        -
      </div>
      <div class="col-10">
        KAT 1
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
        GİRİŞ, ÖĞRENCİ İŞLERİ, BİLGİ İŞLEM
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        -
      </div>
      <div class="col-10">
        KAT 2
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
        BİLGİ MERKEZİ
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        -
      </div>
      <div class="col-10">
        KAT 3
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
        MALİ İŞLER
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        -
      </div>
      <div class="col-10">
        KAT 4
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
        İNAN KIRAÇ KONFERANS SALONU
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        -
      </div>
      <div class="col-10">
        KAT 5
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
        MAVİ SALON, YEŞİL SALON
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="button" (click)="backClicked()" class="btn btn-primary btn-lg btn-block">HARİTAYA GERİ DÖN</button>
    </div>

  </div>
</div>