/* You can add global styles to this file, and also import other style files */
$primary-blue: #003669;
$secondary-blue: #175099;
$third-blue: #4FACD2;

html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.si-content-wrapper {
    padding: 20px !important;    
    border: 1px solid #FFF !important;
}


.si-content {
    color: #FFFFFF !important;
    font-size: 16px  !important;
    width: 100px;;

    a{
        color: #4FACD2;
        text-decoration: underline;
        font-size: 0.8em;
    }
}

.sub-page{
    height:100vh;
    color: white;
    background-color: $secondary-blue;
    font-size: 0.8em;
    .row{
        line-height: 40px;
    }
}

.sub-page-title{
    background-color: $primary-blue;
    line-height: 90px; 
    font-size: 1.2em;
    text-align: center;
}




