/* You can add global styles to this file, and also import other style files */
$primary-blue: #003669;
$secondary-blue: #175099;
$third-blue: #4FACD2;

html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.si-content-wrapper {
    padding: 18px !important;
    border: 1px solid #FFF !important;
}

.si-content {
    color: #FFFFFF !important;
    font-size: 14px  !important;
    width: 100px;

    a:link, a:visited, a:hover {
        color: #4FACD2;
        text-decoration: underline;
        font-size: 0.8em;
    }
}

.sub-page {
    // height: 100vh;
    color: white;
    background-color: $secondary-blue;
    font-size: 0.8em;
    margin-top:56px;

    .row {
        line-height: 40px;
    }
}


.ytp-toolbar {
    background-color: $primary-blue;
    color: #FFF;
    font-size: 0.9em;
    font-weight: normal;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0.9;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.ytp-sidenav-container{
    flex: 1;
    width:100%;
    min-width: 100%;
}

.ytp-sidenav-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.ytp-sidenav{
    width:200px;
}




