/* You can add global styles to this file, and also import other style files */
$primary-blue: #003669;
$secondary-blue: #175099;
$third-blue: #4FACD2;

html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background-color: $primary-blue;
    color: white;
    text-align: center;
    opacity: 0.9;
}

.mat-button {
    padding: 0 8px !important;
}

.mat-icon-button {
    width: 22px !important;
}

.mat-button:focus, .mat-icon-button:focus {
    outline: none;
    border: 0;
}

.si-content-wrapper {
    padding: 18px !important;
    border: 1px solid #FFF !important;
}

.si-content {
    color: #FFFFFF !important;
    font-size: 14px  !important;
    width: 100px;

    a:link, a:visited, a:hover {
        color: #4FACD2;
        text-decoration: underline;
        font-size: 0.8em;
    }
}

.sub-page {
    // height: 100vh;
    color: white;
    font-size: 0.8em;
    margin-top: 64px;

    .row {
        line-height: 40px;
    }
}

.ytp-toolbar {
    background-color: $primary-blue;
    color: #FFF;
    font-size: 0.8em;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0.9;
    button{
        font-weight: 100;
    }
}

@media (max-width: 599px)
{
    .mat-toolbar-row, .mat-toolbar-single-row{
        height: 44px !important;
    }
    .index-form {
        margin-top: 44px;
    }
    .sub-page {
        margin-top: 44px;
    }
}

.index-form {
    margin-top: 64px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 0 16px 0 16px;
}

.form-full-width {
    width: 100%;
}

mat-hint {
    color: #bbb !important;
    font-weight: 100 !important;
}

.mat-list {
    padding-top: 0px !important;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.ytp-sidenav-container {
    flex: 1;
    width: 100%;
    min-width: 100%;
}

.ytp-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.ytp-sidenav {
    width: 250px;

    .mat-list-item {
        font-size: 0.8em !important;
    }
}
